<div>
<button class="btn btn-primary" (click)="newApplication()">Add new application</button>
</div>
<div class="column">
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let app of applications" [class.selected]="app === selectedApplication">
      <td>{{app.id}}</td>
      <td>{{app.name}}</td>
      <td>{{app.email}}</td>

      <td>
        <a href="#appDetails" (click)="showApplication(app)">details</a>
        <button class="btn action" (click)="editApplication(app)"><i class="fa fa-edit"></i></button>
        <button class="btn action" (click)="deleteApplication(app)"><i class="fa fa-close"></i></button>
      </td>
    </tr>
  </tbody>
</table>
</div>
<div  class="column">
  <app-application id="appDetails" [application]="selectedApplication"></app-application>
</div>
