<div *ngIf="application">
<div class="card border-primary mb-3" style="max-width: 500px;">
  <div class="card-header">Application {{application.id}}</div>
  <div class="card-body">
    <h2>{{application.name | uppercase}}</h2>
    <div>
      <p>email: {{application.email}}</p>     
      <p>age: {{application.age}}</p>      
      <p>phone number: {{application.phone}}</p>    
      <p>english level: {{application.english}}</p>     
      <p>skills: {{application.skills}}</p>      
      <p>personality: {{application.personality}}</p>      
      <p>study from home: {{application.homeStudy}}</p>
    </div>
    </div>
    </div>
  </div>
